body {
    line-height: 1.5;
    background-color: #6BADD1;

}
.addCompetition, .newCompetition, .templates {
	display: none;
}

h1 {
    text-align: center;
}


.competitions, .competition-data, .competition {
    text-align: center;
}

input[type=text]{
  border-radius:5px;
}

.gymnasts > div {
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    width: 200px;
    padding: 5px;
    line-height: 1.5;
    overflow: hidden;
    white-space: nowrap;
}

.gymnast-list > div {
    margin: 0 auto;
    text-align: left;
    border: 1px solid black;
    width: 500px;
    padding: 5px;
    line-height: 1.5;
}


