* {
    box-sizing: border-box;
    font-family: 'Pridi', serif;
}
#bg {
  position:absolute;
  left:0px;
  top:0px;
  z-index:-1;
  min-width: 100%;
  min-height: 100%;
  
}

body {
    width: 100%;
    line-height: 1;
}
.clearfix {
  overflow: auto;
  zoom:1
}

.addCompetition, .newCompetition, .templates {
	display: none;
}

h1 {
    text-align: center;
}


.competitions, .competition-data, .competition {
    text-align: center;
}

input[type=text]{
  border-radius:5px;
}

.gymnasts > div {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
}


.grid-row {
    width: 100%;
    border: 1px solid;
}

.grid-row .column {
    float: left;
    width: 33.3333%;
    background-color: white;
}

.grid-row.-header > .column{
    font-weight: bold;
}
.gymnast-list {
    width: 100%;
}
.gymnast {
    background-color: white;
    padding: 5px;
    line-height: 1.5;
}

.gymnast:nth-child(odd){
    background-color: gray;
}

.gymnast-data >.name {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.gymnast-content {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

button {
    margin: 0 auto;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
}
.competitions label {
    width: 100%;
    display: block;
    text-align: left;
}

.competitions input {
    width: 100%;
    display: block;
}

.competitions > div {
    margin-bottom: 5px;
}

.gymnasts label {
    width: 100%;
    display: block;
    text-align: left;
}

.gymnasts input, .gymnasts select {
    width: 100%;
    display: block;
}



